In [1]:
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import datetime
from datetime import datetime

In [2]:
df = pd.read_csv("datasets/traffic.csv")

In [3]:
df.head()

,event,date,country,city,artist,album,track,isrc,linkid
0,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
1,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
2,click,2021-08-21,India,Ludhiana,Reyanna Maria,So Pretty,So Pretty,USUM72100871,23199824-9cf5-4b98-942a-34965c3b0cc2
3,click,2021-08-21,France,Unknown,"Simone & Simaria, Sebastian Yatra",No Llores Más,No Llores Más,BRUM72003904,35573248-4e49-47c7-af80-08a960fa74cd
4,click,2021-08-21,Maldives,Malé,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8

In [4]:
df.shape

(226278, 9)

In [5]:
df['event'].value_counts()

pageview    142015
click        55732
preview      28531
Name: event, dtype: int64

### We can see in the table above that the total number of pageview events are 142015

In [6]:
df['date'].dtype

dtype('O')

In [7]:
df.isnull().sum()

event         0
date          0
country      11
city         11
artist       37
album         5
track         5
isrc       7121
linkid        0
dtype: int64

In [8]:
df['date'] = df['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [9]:
df['date'].dtype

dtype('<M8[ns]')

In [10]:
pageview_events_per_day = df[df['event']=='pageview'][['date','event']].groupby(by = 'date').count()

In [11]:
pageview_events_per_day['event']

date
2021-08-19    22366
2021-08-20    21382
2021-08-21    21349
2021-08-22    20430
2021-08-23    18646
2021-08-24    18693
2021-08-25    19149
Name: event, dtype: int64

### The above table represents the number of pageview events on each date

In [12]:
events_per_day = df[df['event']!="pageview"][['event','date','linkid']].groupby(by = ['event','date']).count()

In [13]:
events_per_day

                    linkid
event   date
click   2021-08-19    9207
        2021-08-20    8508
        2021-08-21    8071
        2021-08-22    7854
        2021-08-23    7315
        2021-08-24    7301
        2021-08-25    7476
preview 2021-08-19    3788
        2021-08-20    4222
        2021-08-21    4663
        2021-08-22    4349
        2021-08-23    3847
        2021-08-24    3840
        2021-08-25    3822

### In the table above we can see the count of each event recorded on each date

In [14]:
pageview_countries = df[df['event']=='pageview']['country'].unique()

In [15]:
pageview_countries

array(['Saudi Arabia', 'United States', 'Ireland', 'United Kingdom',
       'France', 'Guatemala', 'Jordan', 'Kuwait', 'Pakistan', 'Italy',
       'Germany', 'Iraq', 'Peru', 'India', 'Nicaragua', 'Rwanda',
       'Tanzania', 'United Arab Emirates', 'Norway', 'Oman', 'Bahamas',
       'Algeria', 'Czechia', 'Mexico', 'Jamaica', 'Netherlands',
       'Colombia', 'Morocco', 'Australia', 'Myanmar', 'Uzbekistan',
       'Austria', 'Latvia', 'Turkey', 'Mauritania', 'Sri Lanka',
       'Bosnia and Herzegovina', 'Estonia', 'Nigeria', 'Bulgaria',
       'Greece', 'El Salvador', 'Philippines', 'Denmark', 'Serbia',
       'Canada', 'Spain', 'Libya', 'Palestine', 'Chad', 'Ecuador', 'Mali',
       'Romania', 'Switzerland', 'Portugal', 'Slovenia', 'Iceland',
       'Sweden', 'Bahrain', 'Egypt', 'Lithuania', 'Liberia', 'Israel',
       'Ukraine', 'Puerto Rico', 'South Africa', 'Ghana', 'Kenya',
       'Armenia', 'Nepal', 'Barbados', 'Azerbaijan', 'Qatar', 'Uganda',
       'Poland', 'Brazil', 'Guyana', 'Fiji', 'Bangladesh', 'Belgium',
       'Hong Kong', 'Haiti', 'Botswana', 'Ivory Coast', 'Bhutan',
       'Indonesia', 'Réunion', 'Cameroon', 'Singapore', 'Yemen',
       'French Guiana', 'Slovakia', 'Dominican Republic', 'Russia',
       'Cabo Verde', 'Kyrgyzstan', 'New Zealand', 'U.S. Virgin Islands',
       'Albania', 'Venezuela', 'Burkina Faso', 'Montenegro', 'Paraguay',
       'Bolivia', 'Cyprus', 'Mayotte', 'Thailand', 'Maldives', 'Tunisia',
       'Namibia', 'Costa Rica', 'Croatia', 'Trinidad and Tobago',
       'Senegal', 'Suriname', 'Malaysia', 'Honduras', 'DR Congo',
       'South Korea', 'Finland', 'Mozambique', 'Hungary', 'Kazakhstan',
       'Zambia', 'Somalia', 'Moldova', 'Cayman Islands',
       'Saint Vincent and the Grenadines', 'Martinique', 'Guadeloupe',
       'Kosovo', 'Sudan', 'Saint Lucia', 'Uruguay', nan, 'Mauritius',
       'Aruba', 'Curaçao', 'British Virgin Islands', 'Vietnam', 'Laos',
       'Sierra Leone', 'Seychelles', 'Guinea', 'Lebanon', 'Angola',
       'Belize', 'Togo', 'Turks and Caicos Islands', 'Georgia', 'Gabon',
       'Argentina', 'North Macedonia', 'Benin', 'Ethiopia', 'Niger',
       'Zimbabwe', 'St Kitts and Nevis', 'Malawi', 'Chile', 'Madagascar',
       'Panama', 'Luxembourg', 'Grenada', 'Greenland', 'Mongolia',
       'Taiwan', 'Liechtenstein', 'Anguilla', 'Principality of Monaco',
       'Djibouti', 'Samoa', 'Åland', 'Eswatini', 'Faroe Islands',
       'Cambodia', 'China', 'French Polynesia', 'Papua New Guinea',
       'Japan', 'Lesotho', 'Eritrea', 'Iran', 'Antigua and Barbuda',
       'Burundi', 'Belarus', 'Guinea-Bissau', 'Bermuda', 'Gambia',
       'Isle of Man', 'American Samoa', 'Tajikistan', 'Comoros', 'Jersey',
       'Andorra', 'Brunei', 'Congo Republic', 'Syria', 'Dominica',
       'New Caledonia', 'Marshall Islands', 'Macao', 'Gibraltar', 'Palau',
       'Solomon Islands', 'Malta', 'Wallis and Futuna', 'Afghanistan',
       'Central African Republic', 'Guernsey', 'Sint Maarten',
       'Saint Martin'], dtype=object)

### The above array displays the list of all the countries from where a pageview event has been recorded

In [16]:
click_rate = df[df['event']=='click'].shape[0]/df[df['event']=='pageview'].shape[0]

In [17]:
click_rate

0.3924374185825441

In [18]:
events_per_link_click = df[df['event']=='click'][['linkid','event']].groupby(by = ['linkid']).count()

In [19]:
events_per_link_click

                                      event
linkid
00126b32-0c35-507b-981c-02c80d2aa8e7      2
004b9724-abca-5481-b6e9-6148a7ca00a5      1
0063a982-41cd-5629-96d0-e1c4dd72ea11      2
006af6a0-1f0d-4b0c-93bf-756af9071c06      8
00759b81-3f04-4a61-b934-f8fb3185f4a0      3
...                                     ...
ffd8d5a7-91bc-48e1-a692-c26fca8a8ead     29
fff38ca0-8043-50cd-a5f1-f65ebb7105c5      1
fff84c0e-90a1-59d8-9997-adc909d50e16      1
fffc17a7-f935-5d3e-bd3e-d761fd80d479      1
fffd0045-29de-522b-b5d8-35786363bf07      1

[2255 rows x 1 columns]

In [20]:
event_per_link_view = df[df['event']=='pageview'][['linkid','event']].groupby(by = ['linkid']).count()

In [21]:
event_per_link_view

                                      event
linkid
00073307-ae96-5089-a117-4783afb42f8e      2
00126b32-0c35-507b-981c-02c80d2aa8e7      2
0018cfff-50a1-5984-9715-01ef2d11a49a      1
0033934b-5d16-5a06-af58-d087bcdd3680      1
0034d6cf-3bd8-5ffe-aafc-b3959fc48608      1
...                                     ...
fff38ca0-8043-50cd-a5f1-f65ebb7105c5      1
fff4e5f0-4ee5-5fe7-aa30-e870edaf6ed7      2
fff84c0e-90a1-59d8-9997-adc909d50e16      1
fffc17a7-f935-5d3e-bd3e-d761fd80d479      2
fffd0045-29de-522b-b5d8-35786363bf07      2

[3837 rows x 1 columns]

In [22]:
rate_per_link = events_per_link_click/event_per_link_view

In [23]:
rate_per_link

                                      event
linkid
00073307-ae96-5089-a117-4783afb42f8e    NaN
00126b32-0c35-507b-981c-02c80d2aa8e7    1.0
0018cfff-50a1-5984-9715-01ef2d11a49a    NaN
0033934b-5d16-5a06-af58-d087bcdd3680    NaN
0034d6cf-3bd8-5ffe-aafc-b3959fc48608    NaN
...                                     ...
fff38ca0-8043-50cd-a5f1-f65ebb7105c5    1.0
fff4e5f0-4ee5-5fe7-aa30-e870edaf6ed7    NaN
fff84c0e-90a1-59d8-9997-adc909d50e16    1.0
fffc17a7-f935-5d3e-bd3e-d761fd80d479    0.5
fffd0045-29de-522b-b5d8-35786363bf07    0.5

[3839 rows x 1 columns]

### In the above table we ahve the click rate for each link. As we see that some of rates are mentioned as NaN, that is the case when there is either event missing from the link